.navbar{
    font-size: 16px;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
  }

  body > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 20px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  

  img{
    width: 100%;
  }

  .paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }

  /* Paragraph for Parallax Section */ 
.paral p {
  font-size: 24px;
  color:#f5f5f5;
  text-align: center;
  line-height: 60px;
  }
   
  /* Heading for Parallax Section */ 
  .paral h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  line-height: 100px;
  }

.paralsec {
  background-image: url("../images/wallpaper.jpg");
  }
   
  .paralsec1 {
  background-image: url("https://img.webnots.com/2017/05/parallax1.jpg");}
   
  .jumbotron{margin-bottom: 0;}
  
  .paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }
     
  .paral p {
    font-size: 24px;
    color:#f5f5f5;
    text-align: center;
    line-height: 60px;
    }